# **Introduction to SQL**
# Course Description

Much of the world's raw data—from electronic medical records to customer transaction histories—lives in organized collections of tables called relational databases. Being able to wrangle and extract data from these databases using SQL is an essential skill within the data industry and in increasing demand.

In this two-hour introduction to SQL, you'll get to know the theory and the practice through bite-sized videos and interactive exercises where you can put your new-found skills to the test.

SQL is an essential language for building and maintaining relational databases, which opens the door to a range of careers in the data industry and beyond. You’ll start this course by covering data organization, tables, and best practices for database construction.

The second half of this course looks at creating SQL queries for selecting data that you need from your database. You’ll have the chance to practice your querying skills before moving on to customizing and saving your results.

PostgreSQL and SQL Server are two of the most popular SQL flavors. You’ll finish off this course by looking at the differences, benefits, and applications of each. By the end of the course you’ll have some hands-on experience in learning SQL and the grounding to start applying it on projects or continue your learning in a more specialized direction.

# **chapter 1: Relational Databases**

# **Databases**

# **Tables**

# **Chapter 2: Querying**

# Querying the books table
You're ready to practice writing your first SQL queries using the SELECT and FROM keywords. Recall from the video that SELECT is used to choose the fields that will be included in the result set, while FROM is used to pick the table in which the fields are listed.

Feel free to explore books in the exercise. Let's zoom in on this table in the database schema to see the fields and data types it contains.

Your task in this exercise is to practice selecting fields from books.

books table fields and datatypes

## Instructions 1/3

Use SQL to return a result set of all book titles included in the books table.
Select both the title and author fields from books.
Select all fields from the books table.

In [ ]:
-- Return all titles from the books table
SELECT title From books

In [ ]:
title
10-Day Green Smoothie Cleanse
11/22/63: A Novel
12 Rules for Life: An Antidote to Chaos
1984 (Signet Classics)
5,000 Awesome Facts (About Everything!) (National Geographic Kids)
A Dance with Dragons (A Song of Ice and Fire)
A Game of Thrones / A Clash of Kings / A Storm of Swords / A Feast of Crows / A Dance with Dragons
A Gentleman in Moscow: A Novel
A Higher Loyalty: Truth, Lies, and Leadership
A Man Called Ove: A Novel
A Patriot's History of the United States: From Columbus's Great Discovery to the War on Terror
A Stolen Life: A Memoir
A Wrinkle in Time (Time Quintet)
Act Like a Lady, Think Like a Man: What Men Really Think About Love, Relationships, Intimacy, and Commitment
Adult Coloring Book Designs: Stress Relief Coloring Book: Garden Designs, Mandalas, Animals, and Paisley Patterns
Adult Coloring Book: Stress Relieving Animal Designs
Adult Coloring Book: Stress Relieving Patterns
Adult Coloring Books: A Coloring Book for Adults Featuring Mandalas and Henna Inspired Flowers, Animals, and Paisley…
Alexander Hamilton
All the Light We Cannot See
Allegiant
American Sniper: The Autobiography of the Most Lethal Sniper in U.S. Military History
And the Mountains Echoed
Arguing with Idiots: How to Stop Small Minds and Big Government
Astrophysics for People in a Hurry
Autobiography of Mark Twain, Vol. 1
Baby Touch and Feel: Animals
Balance (Angie's Extreme Stress Menders)
Barefoot Contessa Foolproof: Recipes You Can Trust: A Cookbook
Barefoot Contessa, How Easy Is That?: Fabulous Recipes & Easy Tips
Becoming
Being Mortal: Medicine and What Matters in the End
Between the World and Me
Born to Run
Breaking Dawn (The Twilight Saga, Book 4)
Broke: The Plan to Restore Our Trust, Truth and Treasure
Brown Bear, Brown Bear, What Do You See?
Cabin Fever (Diary of a Wimpy Kid, Book 6)
Calm the F*ck Down: An Irreverent Adult Coloring Book (Irreverent Book Series)
Can't Hurt Me: Master Your Mind and Defy the Odds
Capital in the Twenty First Century
Catching Fire (The Hunger Games)
Cravings: Recipes for All the Food You Want to Eat: A Cookbook
Crazy Love: Overwhelmed by a Relentless God
Crazy Rich Asians (Crazy Rich Asians Trilogy)
Creative Haven Creative Cats Coloring Book (Adult Coloring)
Creative Haven Owls Coloring Book (Adult Coloring)
Cutting for Stone
Daring Greatly: How the Courage to Be Vulnerable Transforms the Way We Live, Love, Parent, and Lead
David and Goliath: Underdogs, Misfits, and the Art of Battling Giants
Dead And Gone: A Sookie Stackhouse Novel (Sookie Stackhouse/True Blood)
Dead in the Family (Sookie Stackhouse/True Blood, Book 10)
Dead Reckoning (Sookie Stackhouse/True Blood, Book 11)
Dear Zoo: A Lift-the-Flap Book
Decision Points
Delivering Happiness: A Path to Profits, Passion, and Purpose
Diagnostic and Statistical Manual of Mental Disorders, 5th Edition: DSM-5
Diary of a Wimpy Kid: Hard Luck, Book 8
Diary of a Wimpy Kid: The Last Straw (Book 3)
Diary of a Wimpy Kid: The Long Haul
Difficult Riddles For Smart Kids: 300 Difficult Riddles And Brain Teasers Families Will Love (Books for Smart Kids)
Divergent
Divergent / Insurgent
Divine Soul Mind Body Healing and Transmission System: The Divine Way to Heal You, Humanity, Mother Earth, and All…
Doctor Sleep: A Novel
Dog Days (Diary of a Wimpy Kid, Book 4) (Volume 4)
Dog Man and Cat Kid: From the Creator of Captain Underpants (Dog Man #4)
Dog Man: A Tale of Two Kitties: From the Creator of Captain Underpants (Dog Man #3)
Dog Man: Brawl of the Wild: From the Creator of Captain Underpants (Dog Man #6)
Dog Man: Fetch-22: From the Creator of Captain Underpants (Dog Man #8)
Dog Man: For Whom the Ball Rolls: From the Creator of Captain Underpants (Dog Man #7)
Dog Man: Lord of the Fleas: From the Creator of Captain Underpants (Dog Man #5)
Double Down (Diary of a Wimpy Kid #11)
Dover Creative Haven Art Nouveau Animal Designs Coloring Book (Creative Haven Coloring Books)
Drive: The Surprising Truth About What Motivates Us
Eat This Not That! Supermarket Survival Guide: The No-Diet Weight Loss Solution
Eat This, Not That! Thousands of Simple Food Swaps that Can Save You 10, 20, 30 Pounds--or More!
Eat to Live: The Amazing Nutrient-Rich Program for Fast and Sustained Weight Loss, Revised Edition
Eclipse (Twilight Sagas)
Eclipse (Twilight)
Educated: A Memoir
Enchanted Forest: An Inky Quest and Coloring book (Activity Books, Mindfulness and Meditation, Illustrated Floral Prints…
Fahrenheit 451
Fantastic Beasts and Where to Find Them: The Original Screenplay (Harry Potter)
Fear: Trump in the White House
Fifty Shades Darker
Fifty Shades Freed: Book Three of the Fifty Shades Trilogy (Fifty Shades of Grey Series) (English Edition)
Fifty Shades of Grey: Book One of the Fifty Shades Trilogy (Fifty Shades of Grey Series)
Fifty Shades Trilogy (Fifty Shades of Grey / Fifty Shades Darker / Fifty Shades Freed)
Fire and Fury: Inside the Trump White House
First 100 Words
Food Rules: An Eater's Manual
Frozen (Little Golden Book)
Game Change: Obama and the Clintons, McCain and Palin, and the Race of a Lifetime
Game of Thrones Boxed Set: A Game of Thrones/A Clash of Kings/A Storm of Swords/A Feast for Crows
George Washington's Sacred Fire
George Washington's Secret Six: The Spy Ring That Saved the American Revolution
Giraffes Can't Dance
Girl, Stop Apologizing: A Shame-Free Plan for Embracing and Achieving Your Goals
Girl, Wash Your Face: Stop Believing the Lies About Who You Are So You Can Become Who You Were Meant to Be
Showing 100 out of 350 rows

## Instructions 2/3

Select both the title and author fields from books.

In [ ]:
-- Select title and author from the books table
SELECT title, author
FROM books;

In [ ]:
Game Change: Obama and the Clintons, McCain and Palin, and the Race of a Lifetime	John Heilemann
Game of Thrones Boxed Set: A Game of Thrones/A Clash of Kings/A Storm of Swords/A Feast for Crows	George R.R. Martin
George Washington's Sacred Fire	Peter A. Lillback
George Washington's Secret Six: The Spy Ring That Saved the American Revolution	Brian Kilmeade
Giraffes Can't Dance	Giles Andreae
Girl, Stop Apologizing: A Shame-Free Plan for Embracing and Achieving Your Goals	Rachel Hollis
Girl, Wash Your Face: Stop Believing the Lies About Who You Are So You Can Become Who You Were Meant to Be	Rachel Hollis
Showing 100 out of 350 rows


## Instructions 3/3

Select all fields from the books table.

In [ ]:
-- Select all fields from the books table
SELECT *
FROM books;

In [ ]:
94	Game Change: Obama and the Clintons, McCain and Palin, and the Race of a Lifetime	John Heilemann	2010	Non Fiction
95	Game of Thrones Boxed Set: A Game of Thrones/A Clash of Kings/A Storm of Swords/A Feast for Crows	George R.R. Martin	2011	Fiction
96	George Washington's Sacred Fire	Peter A. Lillback	2010	Non Fiction
97	George Washington's Secret Six: The Spy Ring That Saved the American Revolution	Brian Kilmeade	2013	Non Fiction
98	Giraffes Can't Dance	Giles Andreae	2015	Fiction
99	Girl, Stop Apologizing: A Shame-Free Plan for Embracing and Achieving Your Goals	Rachel Hollis	2019	Non Fiction
100	Girl, Wash Your Face: Stop Believing the Lies About Who You Are So You Can Become Who You Were Meant to Be	Rachel Hollis	2018	Non Fiction
Showing 100 out of 350 rows

# **Writing queries**
# Making queries DISTINCT
You've learned that the DISTINCT keyword can be used to return unique values in a field. In this exercise, you'll use this understanding to find out more about the books table!

There are 350 books in the books table, representing all of the books that our local library has available for checkout. But how many different authors are represented in these 350 books? The answer is surely less than 350. For example, J.K. Rowling wrote all seven Harry Potter books, so if our library has all Harry Potter books, seven books will be written by J.K Rowling. There are likely many more repeat authors!

## Instructions 1/2

Write SQL code that returns a result set with just one column listing the unique authors in the books table.

In [ ]:
-- Select unique authors from the books table
SELECT DISTINCT author
FROM books;

In [ ]:
author
John Heilemann
Sheryl Sandberg
Brené Brown
DK
Delegates of the Constitutional
.
.
.


## Instructions 2/2

Update the code to return the unique author and genre combinations in the books table.

In [ ]:
-- Select unique authors and genre combinations from the books table
SELECT DISTINCT author, genre
FROM books;

In [ ]:
Silly Bear	Non Fiction
Harper Lee	Fiction
Michael Lewis	Non Fiction
Alex Michaelides	Fiction
Rupi Kaur	Non Fiction
Melissa Hartwig Urban	Non Fiction
National Geographic Kids	Non Fiction
Showing 100 out of 249 rows

# **Aliasing**
While the default column names in a SQL result set come from the fields they are created from, you've learned that aliasing can be used to rename these result set columns. This can be helpful for clarifying the intent or contents of the column.

Your task in this exercise is to incorporate an alias into one of the SQL queries that you worked with in the previous exercise!

## Instructions

Add an alias to the SQL query to rename the author column to unique_author in the result set.

In [ ]:
-- Alias author so that it becomes unique_author
SELECT DISTINCT author AS unique_author
FROM books;

In [ ]:
unique_author
John Heilemann
Sheryl Sandberg
Brené Brown
DK
Delegates of the Constitutional

Rebecca Skloot
Crispin Boyer
Daniel James Brown
Bruce Springsteen

.
.
.

# VIEWing your query
You've worked hard to create the below SQL query:

SELECT DISTINCT author AS unique_author
FROM books;
What if you'd like to be able to refer to it later, or allow others to access and use the results? The best way to do this is by creating a view. Recall that a view is a virtual table: it's very similar to a real table, but rather than the data itself being stored, the query code is stored for later use.

## Instructions 1/2

Add a single line of code that saves the results of the written query as a view called library_authors.

In [ ]:
-- Save the results of this query as a view called library_authors
CREATE VIEW library_authors AS
SELECT DISTINCT author AS unique_author
FROM books;

In [ ]:
Your query did not generate any results.


## Instructions 2/2

Check that the view was created by selecting all columns from library_authors.

In [ ]:
-- Your code to create the view:
CREATE VIEW library_authors AS
SELECT DISTINCT author AS unique_author
FROM books;

-- Select all columns from library_authors
SELECT  *
FROM library_authors;

In [ ]:
unique_author
John Heilemann
Sheryl Sandberg
Brené Brown
DK
Delegates of the Constitutional

Rebecca Skloot
Crispin Boyer
Daniel James Brown
Bruce Springsteen
Fredrik Backman
.
.
.

Amazing! As your SQL queries become long and complex, you'll want to be able to save your queries for referencing later. Views can also be useful when the information contained in a database table isn't quite what you need. You can create your own custom view with exactly the information you are looking for, without needing to edit the database itself, which you may not have permission to do. Creating views is a valuable skill to have, and you've mastered it!

# **SQL flavors**

# Limiting results
Let's take a look at a few of the genres represented in our library's books.

Recall that limiting results is useful when testing code since result sets can have thousands of results! Queries are often written with a LIMIT of just a few records to test out code before selecting thousands of results from the database.

Let's practice with LIMIT!

## Instructions

Using PostgreSQL, select the genre field from the books table; limit the number of results to 10.

In [ ]:
-- Select the first 10 genres from books using PostgreSQL
SELECT genre
FROM books
LIMIT 10;

In [ ]:
Fiction
Non Fiction
Fiction
Fiction
Fiction
Non Fiction
Fiction
Showing 10 out of 10 rows